/*
IMPORTANT:
In order to preserve the uniform grid appearance, all cell styles need to have padding, margin and border sizes.
No built-in (selected, editable, highlight, flashing, invalid, loading, :focus) or user-specified CSS
classes should alter those!
*/

.slick-header-columns {
  background: url('images/header-columns-bg.gif') repeat-x center bottom;
  border-bottom: 1px solid silver;
}

.slick-header-column {
  background: url('images/header-columns-bg.gif') repeat-x center bottom;
  border-right: 1px solid silver;
}

.slick-header-column:hover, .slick-header-column-active {
  background: white url('images/header-columns-over-bg.gif') repeat-x center bottom;
}

.slick-headerrow {
  background: #fafafa;
}

.slick-headerrow-column {
  background: #fafafa;
  border-bottom: 0;
  height: 100%;
}

.slick-row.ui-state-active {
  background: #F5F7D7;
}

.slick-row {
  position: absolute;
  background: white;
  border: 0px;
  line-height: 20px;
}

.slick-row.selected {
  z-index: 10;
  background: #DFE8F6;
}

.slick-cell {
  padding-left: 4px;
  padding-right: 4px;
}

.slick-group {
  border-bottom: 2px solid silver;
}

.slick-group-toggle {
  width: 9px;
  height: 9px;
  margin-right: 5px;
}

.slick-group-toggle.expanded {
  background: url(images/collapse.gif) no-repeat center center;
}

.slick-group-toggle.collapsed {
  background: url(images/expand.gif) no-repeat center center;
}

.slick-group-totals {
  color: gray;
  background: white;
}

.slick-cell.selected {
  background-color: beige;
}

.slick-cell.active {
  border-color: gray;
  border-style: solid;
}

.slick-sortable-placeholder {
  background: silver !important;
}

.slick-row.odd {
  background: #fafafa;
}

.slick-row.ui-state-active {
  background: #F5F7D7;
}

.slick-row.loading {
  opacity: 0.5;
  filter: alpha(opacity = 50);
}

.slick-cell.invalid {
  border-color: red;
  -moz-animation-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
  -moz-animation-name: slickgrid-invalid-hilite;
  -webkit-animation-name: slickgrid-invalid-hilite;  
}

@-moz-keyframes slickgrid-invalid-hilite {
  from { box-shadow: 0 0 6px red; }
  to { box-shadow: none; }
}

@-webkit-keyframes slickgrid-invalid-hilite {
  from { box-shadow: 0 0 6px red; }
  to { box-shadow: none; }
}




/* Excel-like header */

.slick-header-menubutton
{
    background-position: center center;
    background-repeat: no-repeat;
    border-left: thin ridge silver;
    bottom: 0;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    width: 18px;
}

.slick-header-menu
{
    background: none repeat scroll 0 0 white;
    border: 1px solid #BFBDBD;
    min-width: 175px;
    padding: 4px;
    z-index: 100000;
    cursor: default;
    display: inline-block;
    margin: 0;
    position: absolute;
}

.slick-header-menu BUTTON
{
    border: 1px solid #BFBDBD;
    background-color: White;
    width: 45px;
    padding: 4px;
    margin: 4px 4px 4px 0;
}

.slick-header-menu .filter
{
    border: 1px solid #BFBDBD;
    font-size: 8pt;
    height: 400px;
    margin-top: 6px;
    overflow: scroll;
    padding: 4px;
    white-space: nowrap;
    width: 200px;
}

.slick-header-menu .textfilter > label
{
  display: inline-block;
  margin-left: 5px;
  margin-right: 10px;
}
.slick-header-menu .textfilter > input[type=text]
{
  width: 70%;
}

label
{
    display: block;
    margin-bottom: 5px;
}

.slick-header-menuitem
{
    border: 1px solid transparent;
    padding: 2px 4px;
    cursor: pointer;
    list-style: none outside none;
    margin: 0;
}

.slick-header-menuicon
{
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    margin-right: 4px;
    vertical-align: middle;
    width: 16px;
}

.slick-header-menucontent
{
    display: inline-block;
    vertical-align: middle;
}

.slick-header-menuitem:hover
{
    border-color: #BFBDBD;
}

.header-overlay, .cell-overlay, .selection-cell-overlay
{

    display: block;
    position: absolute;
    z-index: 999;
}

.slick-cell > .editor-select {
  position: absolute;
  left: 0;
  right: 0;
  width: auto;
  top: 0;
  bottom: 0;
  max-width: 100%;
  min-width: 0;
  margin: 0;
}